@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-1Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-2ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-3Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-4Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-5Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-6SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-7Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    'Urbanist', 'Freesentation', ui-sans-serif, system-ui, sans-serif;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --text-body-sm: 0.75rem;
  --text-body-md: 0.875rem;
  --text-body-lg: 1rem;
  --text-body-xl: 1.125rem;
  --text-label-sm: 1.25rem;
  --text-label-md: 1.5rem;
  --text-label-lg: 1.875rem;
  --text-label-xl: 2.25rem;
  --text-heading-sm: 3rem;
  --text-heading-md: 3.75rem;
  --text-heading-lg: 4.5rem;

  --shadow-select-green: 0 0 0 4px rgba(155, 176, 104, 0.25);
  --shadow-select-orange: 0 0 0 4px rgba(254, 129, 75, 0.25);
  --shadow-select-dark: 0 0 0 4px rgba(75, 52, 37, 0.25);
  --shadow-select-purple: 0 0 0 4px rgba(161, 143, 255, 0.25);
  --shadow-select-brown: 0 0 0 4px rgba(146, 98, 71, 0.25);
  --shadow-select-white: 0 0 0 4px rgba(255, 255, 255, 0.25);
  --shadow-select-yellow: 0 0 0 4px rgba(255, 206, 92, 0.25);
  --shadow-select-gray: 0 0 0 4px rgba(162, 169, 176, 0.25);
  --shadow-card-shadow: 0 8px 16px 0 rgba(75, 52, 37, 0.05);

  /* 색상 매핑 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primaryMuted: var(--primary-muted);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary1: var(--secondary1);
  --color-secondary2: var(--secondary2);

  --color-main1: var(--main1);
  --color-main2: var(--main2);
  --color-main3: var(--main3);
  --color-main4: var(--main4);

  --color-sub1: var(--sub1);
  --color-sub2: var(--sub2);
  --color-sub3: var(--sub3);
  --color-sub4: var(--sub4);

  --color-text-main: var(--text-main);
  --color-text-sub: var(--text-sub);
  --color-text-up: var(--text-up);
  --color-text-down: var(--text-down);

  --color-default: var(--default);
  --color-active: var(--active);
  --color-inactive: var(--inactive);

  --color-field-it: var(--field-it);
  --color-field-mobility: var(--field-mobility);
  --color-field-finance: var(--field-finance);
  --color-field-bio: var(--field-bio);
  --color-field-steel: var(--field-steel);
  --color-field-energy: var(--field-energy);
  --color-field-communication: var(--field-communication);
  --color-field-staples: var(--field-staples);
  --color-field-mechanic: var(--field-mechanic);
  --color-field-utility: var(--field-utility);
}

:root {
  --background: #f7f4f2;
  --foreground: #4b3425;

  --primary: #9bb068;
  --primary-muted: #b4c48d;
  --primary-foreground: #ffffff;

  --secondary1: #ffffff;
  --secondary2: #4b3425;

  --main1: #fe814b;
  --main2: #926247;
  --main3: #ffce5c;
  --main4: #a2a9b0;

  --sub1: #feaf8f;
  --sub2: #ac836c;
  --sub3: #ffdb8f;
  --sub4: #c1c6cd;

  --text-main: #1f160fa3;
  --text-sub: #1f160f7a;
  --text-up: #df4b01;
  --text-down: #3d16ca;

  --default: #e8ddd9;
  --active: #4b3425;
  --inactive: #e8ddd9;

  /* Industry Fields */
  --field-it: #7fa8ff;
  --field-mobility: #5fc6b4;
  --field-finance: #8ccf7e;
  --field-bio: #ff9db2;
  --field-steel: #c96b5c;
  --field-energy: #fe814b;
  --field-communication: #a18fff;
  --field-staples: #ffce5c;
  --field-mechanic: #8da9c4;
  --field-utility: #c58b61;
}

/* 3. 기본 베이스 스타일 */
@layer base {
  :root {
    --layout-max-width: 100%;
  }

  @media (min-width: 480px) {
    :root {
      --layout-max-width: 400px;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
  }

  .layout-wrapper {
    background-color: var(--background);
    width: 100%;
    max-width: var(--layout-max-width);
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  /* Hide scrollbar for all elements */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .recharts-wrapper *:focus,
  .recharts-bar-rectangle:focus,
  .recharts-cell:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  #tv-attr-logo {
    display: none !important;
  }
}
