@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* --- Urbanist --- */
@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* --- Freesentation --- */
@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-9Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    "Urbanist", "Freesentation", ui-sans-serif, system-ui, sans-serif;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --color-background: #f7f4f2;
  --color-foreground: #4b3425;

  --color-primary: #9bb068;
  --color-primary-foreground: #ffffff;

  --color-secondary1: #ffffff;
  --color-secondary2: #4b3425;

  --color-main1: #fe814b;
  --color-main2: #926247;
  --color-main3: #ffce5c;
  --color-main4: #a2a9b0;

  --color-sub1: #feaf8f;
  --color-sub2: #ac836c;
  --color-sub3: #ffdb8f;
  --color-sub4: #c1c6cd;

  --color-text1: #1f160fa3;
  --color-text2: #1f160f7a;
  --color-text3: #df4b01;
  --color-text4: #3d16ca;

  --color-default: #e8ddd9;
  --color-active: #4b3425;
  --color-inactive: #e8ddd9;

  /* Industry Fields */
  --color-field-it: #003399;
  --color-field-mobility: #707070;
  --color-field-finance: #d4af37;
  --color-field-bio: #2ecc71;
  --color-field-steal: #b23133;
  --color-field-energy: #e67e22;
  --color-field-communication: #9b59b6;
  --color-field-staples: #556b2f;
  --color-field-mechanic: #3498db;
  --color-field-utility: #cd7f32;
}

/* 3. 기본 베이스 스타일 */
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
